@font-face {
	font-family: 'Split On';
	src: local('Split On'), url('./assets/font/SplitOn.ttf');
}

html {
	scroll-behavior: smooth;
}

/* Aquí definimos las Custom properties */
/* :root {
	--color-primario: #d11710;
	--color-secundario: #10cad1;
	--bg-color_a: #191919;
	--bg-color_b: #101010;
	--color-gris_rgba: rgba(142, 142, 142, 0.5);
	--color-fuente_gris: #a7a7a7;
	--color-fuente_oscuro: #101010;
	--color-fuente_claro: #fbfbfb;
	--blanco: #ffffff;
	--negro: #000000;
	--color-bg_overlay: linear-gradient(
		130deg,
		rgba(105, 0, 0, 0.5) 0%,
		rgba(0, 97, 105, 0.5) 100%
	);
	--fuente-principal: 'Poppins', sans-serif;
	--fuente-titulo: 'Josefin Sans', sans-serif;
	--fuente-subtitulo: 'Rubik', sans-serif;
	--sombra: 4px 4px 16px rgba(0, 0, 0, 0.25);
	--brillo: 0 0 15px 1px rgba(16, 203, 209, 0.5);
} */

/* Configuramos estilos generales para toda la web */
/* #root {
	min-height: 100vh;
	font-family: var(--fuente-principal);
	font-size: 10px;
	overflow-x: hidden;
	background-color: var(--bg-color_b);
	color: var(--color-fuente_claro);
}

p {
	line-height: 1.6;
	color: var(--color-fuente_gris);
	letter-spacing: 0.15rem;
	font-size: 1.2rem;
}

span {
	color: var(--color-primario);
	font-size: inherit;
} */
